<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tp.admin.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tp.admin.entity.User">
        <id column="id_user" property="idUser" />
        <result column="login_name" property="loginName" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="remark" property="remark" />
        <result column="email" property="email" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="is_admin" property="isAdmin" />
        <result column="is_valid" property="isValid" />
        <result column="is_enable" property="isEnable" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_user AS idUser, login_name AS loginName, password, name, sex, remark, email, last_login_time AS lastLoginTime, is_admin AS isAdmin, is_valid AS isValid, is_enable AS isEnable, create_by AS createBy, create_time AS createTime, update_by AS updateBy, update_time AS updateTime
    </sql>

</mapper>
